.Sign {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin-left: 25vw;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.List {
    list-style-type: none;
    margin-left: 25vw;
    margin-right: 25vw;
}

.ListElem {
    font: 200 25px/1.5 Helvetica;
    border-bottom: 1px solid #ccc !important;
    display: block;
    color: black;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.ListElem:hover {
    background: #f6f6f6;
}
